#authorization {
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 50vw;
  border: 1px solid gray;
  height: 220px;
  justify-content: space-around;
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input[type="password"] {
      width: 40%;
      margin: 10px;
      padding: 6px;
      font-size: 18px;
    }
    input[type="submit"] {
      width: 140px;
      margin: 10px;
      padding: 4px;
      font-size: 16px;
      border-radius: 6px;
      border: 1px solid gray;
      box-shadow: 1px 1px rgba($color: #000000, $alpha: .5);
      cursor: pointer;
      transition: background-color ease .4s;

      &:active { 
        box-shadow: none;
      }
      &:hover { 
        background-color: rgb(206, 205, 205);
      }
    }
  }
}